<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="priceAudit">
            <h2><span>Price Audit</span> {{ priceAudit.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Product Id</span></dt>
                <dd>
                    <span>{{ priceAudit.productId }}</span>
                </dd>
                <dt><span>Product Name</span></dt>
                <dd>
                    <span>{{ priceAudit.productName }}</span>
                </dd>
                <dt><span>Price</span></dt>
                <dd>
                    <span>{{ priceAudit.price }}</span>
                </dd>
                <dt><span>Create Date</span></dt>
                <dd>
                    <span>{{ priceAudit.createDate }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>
        </div>
    </div>
</div>
